a,
a:visited {
    text-decoration: none;
    color: initial;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header,
.hero {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 200px 0 200px;
}

.header .nav a {
    font-size: 18px;
    color: #e5e7eb;
}

.nav ul {
    display: flex;
    gap: 26px;
}

.logo a {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

.hero {
    display: flex;
    padding: 100px 200px;
    justify-content: space-between;
    align-items: center;
}

.hero-heading {
    color: #f9faf8;
    font-size: 48px;
}

.hero-abstract {
    color: #e5e5eb;
    font-size: 18px;
    padding: 0 0 10px 0;
}

.hero-content {
    max-width: 400px;
}

.button {
    padding: 6px 30px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    background-color: #3882f6;
    color: #fff;
    border: 2px solid #3882f6;
    flex-shrink: 0;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 200px 100px 200px;
}

.info-text {
    padding: 0 0 40px 0;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.info-items {
    display: flex;
    gap: 80px;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 130px;
}

.info-img {
    width: 130px;
    height: 130px;
    border: 2px solid #3882f6;
    border-radius: 10px;
    margin: 0 0 10px 0;
}

.quote {
    background-color: #e5e7eb;
    padding: 100px 200px 80px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-text {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    padding: 0 0 0 40px;
    max-width: 746px;
}

.quote-author {
    align-self: flex-end;
    font-size: 20px;
    font-weight: 700;
    padding: 0 136px 0 0;
}

.cta {
    display: flex;
    padding: 100px 200px;
    justify-content: center;
}

.cta-content {
    display: flex;
    background-color: #3882f6;
    color: #e5e5eb;
    padding: 50px 100px;
    gap: 200px;
    align-items: center;
    border-radius: 10px;
}

.cta-button {
    border: 2px solid #fff;
}
